{% extends "auctions/layout.html" %}

{% block body %}

<h2>Active Listings</h2>

{% for item in items %}
{% if item.active %}

<div class="container-fluid">
    <div class="border rounded mt-3 p-2">
        <div class="row">

            {% if item.image %}
            <div class="col-sm">
                <img src="{{ item.image }}" class="img-thumbnail" alt="listing">
            </div>
            {% endif %}

            <div class="col-sm">
                <h3>
                    <a href="{% url 'listing' item.id %}">
                        {{ item.title.capitalize }}
                    </a>
                </h3>
                <h5>Price: ${{ item.price }}</h5>
                <p>Created on {{ item.time }}</p>
                <h6>Description</h6>
                <p>{{ item.description }}</p>
            </div>

        </div>
    </div>
</div>

{% endif %}
{% endfor %}

{% endblock %}