{% extends "auctions/layout.html" %}

{% block body %}

<div class="container-fluid">

    <div class="row">
        <h2>{{ listing.title|capfirst }}</h2>
    </div>

    <div class="row mb-3">

        {%if watched != "anonymous" %}
        <form action="{% url 'watch' listing.id %}" method="POST">
            {% csrf_token %}
            {% if not watched %}
            <input type="submit" name="watch" value="Add to Watchlist">
            {% else %}
            <input type="submit" name="watch" value="Remove from Watchlist">
            {% endif %}
        </form>
        {% endif %}
    </div>

    <div class="row">
        {% if listing.image.image_url %}
        <div class="col-sm">
            <div class="col-sm">
                <img src="{{ listing.image.image_url }}" class="img-thumbnail" alt="listing">
            </div>
        </div>
        {% endif %}

        {% if listing.active %}

        <div class="col-sm">
            <p>Start bid: ${{ listing.start_bid }}</p>
            <p>Current bid: ${{ current_price }}</p>

            {% if error %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endif %}

            {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
            {% endif %}

            {% if user.is_authenticated %}

            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                {{ bid_form }}
                <input type="submit" value="Place bid">
            </form>

            {% if request.user == listing.user_id %}
            <form class="mt-3" action="{% url 'close' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" name="close" value="Close Auction">
            </form>
            {% endif %}

            {% endif %}
        </div>

        {% else %}

        <div class="col-sm">
            {% if last_bid.user_id == request.user %}
            <h1>You have won this auction!</h1>
            <br>
            <p>Your winning bid was: {{ last_bid.current_bid }}</p>

            {% else %}

            <h1>This auction is closed</h1>
            <p>The winning bid was: {{ last_bid.current_bid }}</p>
            {% endif %}
        </div>

        {% endif %}

    </div>
</div>

{% endblock %}